#boardDisplay {
    border: solid, red;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#boardDisplay div {
    border: solid, blue;
    text-align: center;
    font-size: 2em;
}

#boardDisplay div:hover {
    background-color: grey;
}

#gameState {
    text-align: center;
    font-size: 2em;
}