#board_display {
    border: solid, red;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#board_display div {
    border: solid, blue;
}

#board_display div:hover {
    background-color: grey;
}